# object files
*.o
*.obj

# compiled binary
sslscan
sslscan.exe
bin/

# debian build of openssl
openssl-*/
openssl_*
libcrypto*
libssl*

# custom openssl build
openssl/

# Cmake Stuff
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
